<div class="container">
    <h1 class="ui header">Welcome to the Toss Up Blog!</h1>
    <div class="ui two column grid">
        <div class="six wide column">
            <h3 class="ui header" id="newsHeader">Search for News</h3>
            <div class="buttons" style="margin-bottom: 20px">
                <button class="ui green button" routerLink="/trendingnews">Trending News</button>
                <button class="ui blue button" routerLink="/allnews">All News</button>
            </div>
            <div class="topNews" style="height: 200px;">
                <h3 class="ui header" id="newsHeader">Top Headlines in the US</h3>
                <div class="newsContainer" *ngFor="let news of newsArticles | slice:0:10; let i=index">
                    <p><span>{{i+1}}</span>. {{news.title}}</p>
                </div>
            </div>
            
        </div>
        <div class="ten wide column">
            <h3 class="ui header" id="blogsHeader">Your Blogs</h3>
            <div class="blogsContainer" *ngFor="let blog of blogs">
                <p><b>{{blog.title}}</b></p>
                <p>Published On: {{blog.publicationDate}}</p>
                <p>{{blog.body}}</p>
                <button class="negative ui button" (click)="deleteBlog(blog)">Delete Blog</button>
                <br>
            </div>
            
        </div>
        
    </div>
</div>



