<div class="container" style="margin-top: 10px; margin-left: 20px;">
    <h2 class="ui header">Blogs about this News</h2>
    <p><b>News Title: </b><a href="{{newsArticle.url}}">{{newsArticle.title}}</a></p>
    <h3 class="ui header" id="blogsHeader" style="text-decoration: underline">Your Blogs</h3>
    <div class="blogsContainer" *ngFor="let blog of blogs">
        <p><b>{{blog.title}}</b></p>
        <div class="blogBody" *ngFor="let paragraph of blog.paragraphs">
            <p>{{paragraph}}</p>
            <p></p>
        </div>
        <div class="buttons" style="display: inline-block;">
            <button class="ui button" routerLink="/editblog/{{blog.id}}">Edit Blog</button>
            <button class="negative ui button" (click)="deleteBlog(blog)">Delete Blog</button>
        </div>
        <br>
    </div>
</div>
