<h2 class="ui header" style="margin-top: 10px; text-align: center;">Discover More News</h2>
<div class="ui grid" id="searchContainer">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui search">
            <div class="ui icon input" style="width: 1000px;">
                <input class="prompt" type="text" id="query" placeholder="Search the News archives">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
        <div class="options" style="display: flex;">
            <div class="ui input">
                <input
                class="form-control"
                type="text"
                mwlFlatpickr
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i"
                id="fromTime"
                placeholder="From"
                >
            </div>
            <div class="ui input">
                <input
                class="form-control"
                type="text"
                mwlFlatpickr
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i"
                id="toTime"
                placeholder="To"
                >
            </div>
            <div class="ui selection dropdown language">
                <input type="hidden" name="language">
                <i class="dropdown icon"></i>
                <div class="default text">Select Language</div>
                <div class="menu">
                    <div class="item" data-value="en">English</div>
                    <div class="item" data-value="ar">Arabic</div>
                    <div class="item" data-value="de">German</div>
                    <div class="item" data-value="es">Spanish</div>
                    <div class="item" data-value="fr">French</div>
                    <div class="item" data-value="he">Hebrew</div>
                    <div class="item" data-value="it">Italian</div>
                    <div class="item" data-value="nl">Dutch</div>
                    <div class="item" data-value="no">Norwegian</div>
                    <div class="item" data-value="pt">Portuguese</div>
                    <div class="item" data-value="ru">Russian</div>
                    <div class="item" data-value="se">Northern Sami</div>
                    <div class="item" data-value="ud">Udmurt</div>
                    <div class="item" data-value="zh">Chinese</div>
                </div>
            </div>
            <div class="ui selection dropdown sortBy">
                <input type="hidden" name="sortBy">
                <i class="dropdown icon"></i>
                <div class="default text">Sort By: </div>
                <div class="menu">
                    <div class="item" data-value="publishedAt">Published At</div>
                    <div class="item" data-value="relevancy">Relevancy</div>
                    <div class="item" data-value="popularity">Popularity</div>
                </div>
            </div>
            <button class="ui primary button" (click)="searchForAllNews()">Search</button>
        </div>
        <div class="options2" style="display: flex;">
            <select class="ui search dropdown sources" multiple="">
                <option value="">Select Sources</option>
                <option *ngFor="let source of sources" attr.value="{{source.id}}">{{source.name}}</option>
            </select>
            <div class="ui input" style="width:260px;">
                <input
                    type="text"
                    id="domain"
                    placeholder="Domain (e.g. nytimes.com, espn.com)"
                >
            </div>
            <div class="ui input" style="width:275px;">
                <input
                    type="text"
                    id="excludeDomain"
                    placeholder="Exclude Domain (e.g. nytimes, espn.com)"
                >
            </div>
        </div>
        <br>
        <div class="newsArticles">
            <div class="newsArticle" *ngFor="let news of allNews">
                <a href="{{news.url}}" style="font-size: 20px;">{{news.title}}</a>
                <p><b>Published On:</b> {{news.publishedAt}}</p>
                <p><b>Written By:</b> {{news.author}}</p>
                <div class="buttons" style="display: flex;">
                    <button class="ui primary button">
                        Write about this
                    </button>
                    <button class="ui secondary button">
                        Other blogs about this
                    </button>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="two wide column"></div>
</div>
<footer style="text-align: center;">Powered by <a href="https://newsapi.org/">NewsAPI.org</a></footer>


